body {
    background-image: url("../img/bg_stripe.png");
}

.accordion {
    width: 650px;
    margin: 0em auto;
}
.accordion-inner {
    border-top: 0px;
    background-color: #fff;
}
#routes {
    height: 300px;
    overflow: auto;
}
#stops {
    max-height: 300px;
    overflow: auto;
}
.accordion-heading .accordion-toggle,
.accordion-heading p {
    color: #eff;
    font-size: 18px;
    line-height: 20px;
}
.accordion-heading p {
    padding: 8px 15px;
    margin: 0;
}
@media (min-width: 768px) and (max-width: 979px) {
    .accordion {
        width: 506px;
    }
}
@media (min-width: 1200px) {
    .accordion {
        width: 800px;
    }
}

.mouseon {
    background-color: #ccc;
}

.selected {
    background-color: #ccc;
}

.accordion-group {
    border: 0px;
}

.accordion-heading {
    background-color: #049CDB;
}

#livePredictions.span4 h1 {
    text-align: center;
}

#livePredictions.span4 h1 small {
    font-size: 20px;
    font-weight: inherit;
    color: inherit;
}

#livePredictions h3, #form h3 {
    padding-bottom: 10px;
}
