<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <title>MuniMobile</title>
    <!-- TODO: change it to STATIC_URL -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../static/css/docs.css" rel="stylesheet">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33518185-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="container">
      <div class="accordion" id="accordion2">
        <img src="../static/img/title.png" width=300 class="pull-left">
        <p style="padding-top: 30px;">
          MuniMobile is a web application that will text you scheduled, real-time updates of Muni busses approaching your stop.
        </p>
        <div style="clear: both;"></div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <p class="pull-right" id="selectedRoute"></p>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Route</a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner" id="routes">
              <div class="progress progress-info progress-striped active">
                <div class="bar" style="width: 100%;">Loading...</div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <p class="pull-right" id="selectedDirection"></p>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Direction</a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner" id="directions">
              <div class="progress progress-info progress-striped active" style="display: none;">
                <div class="bar" style="width: 100%;">Loading...</div>
              </div>
              <div class="alert">Select Route first.</div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <p class="pull-right" id="selectedStop"></p>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Stop</a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner" id="stops">
              <div class="progress progress-info progress-striped active" style="display: none;">
                <div class="bar" style="width: 100%;">Loading...</div>
              </div>
              <div class="alert">Select Route and Direction first.</div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Prediction</a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner" id="predictions">
              <div class="progress progress-info progress-striped active" style="display: none;">
                <div class="bar" style="width: 100%;">Loading...</div>
              </div>
              <div class="alert">Select Route and Direction and Stop first.</div>
              <div class="row">
                <div id="livePredictions" class="span4"></div>
                <div id="form" class="span4" style="display: none;">
                  <h3>Notification setting</h3>
                  <div class="alert" id="formError" style="display: none;"></div>
                  <div class="alert alert-success" id="formSuccess" style="display: none;"></div>
                  <p>Phone: <input type="text" class="span2" placeholder="1234567890" id="phone">
                  </p>
                  <span class="help-block">10 digits without spaces or dashes.</span>
                  <p>
                  From:
                  <input type="text" class="span2" placeholder="7:00" id="fromDate">
                  <select class="span1" id="fromDateAmPm">
                    <option value="0">am</option>
                    <option value="1">pm</option>
                  </select>
                  </p>
                  <p>
                  To:
                  <input type="text" class="span2" placeholder="8:00" id="toDate" data-provide="typeahead">
                  <select class="span1" id="toDateAmPm">
                    <option value="0">am</option>
                    <option value="1">pm</option>
                  </select>
                  </p>
                  <span class="help-block">The timespan in which you plan to leave.</span>
                  <p>
                  Minutes Away: <input type="text" class="span1" id="minutesAway" > mins
                  </p>
                  <span class="help-block">How many minutes away you are from the bus stop.</span>
                  <p>
                  <input type="checkbox" id="chk1">Mon&nbsp;
                  <input type="checkbox" id="chk2">Tue&nbsp;
                  <input type="checkbox" id="chk3">Wed&nbsp;
                  <input type="checkbox" id="chk4">Thu&nbsp;
                  <input type="checkbox" id="chk5">Fri&nbsp;
                  <input type="checkbox" id="chk6">Sat&nbsp;
                  <input type="checkbox" id="chk7">Sun&nbsp;
                  </p>
                  <button class="btn btn-primary" id="notifyButton">Notify Me By SMS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- container -->

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.7.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
      var selectedRouteTag;
      var selectedDirectionTag;
      var selectedStopId;
      $(document).ready(function() {
        var data = JSON.parse(localStorage.getItem('allRoutes'));
        if (data != null) {
          getRoutesSuccess(data);
        } else {
          $.ajax({
            type: "GET",
            url: "/get_all_routes"
          }).done(getRoutesSuccess);
        }
        $('#notifyButton').click(setNotification);
      });

      function getRoutesSuccess(data) {
        localStorage.setItem('allRoutes', JSON.stringify(data));
        var route_str = '<div class="row"><div class="span2">';
        for (var i=0; i < data.length; i++) {
          if ((i % 22) === 0) {
            route_str += '</div><div class="span2">';
          }
          var str = '<p class="route" data-routetag="' + data[i].tag + '">' + data[i].title + '</p>';
          route_str += str;
        }
        route_str += '</div>'
        $('#routes').html(route_str);
        $('p.route').mouseover(function() {
          $(this).addClass('mouseon');
        }).mouseout(function() {
          $(this).removeClass('mouseon');
          }).click(function() {
          $('p.route').removeClass('selected');
          $(this).addClass('selected');
          $('#selectedRoute').html($(this).html());
          selectedRouteTag = $(this).attr('data-routetag');
          resetDirection();
          resetStop();
          resetPrediction();
          $('#collapseOne').collapse('hide');
          $('#collapseTwo').collapse('show');
          $('#directions > div.progress').show();
          $('#directions > div.alert').hide();
          $.ajax({
            type: "POST",
            url: "/get_directions_of_route",
            data: { route_tag: selectedRouteTag },
            beforeSend: beforeSendAjax
          }).done(getDirectionsSuccess);
        });
      }

      /* For CSRF, https://docs.djangoproject.com/en/1.4/ref/contrib/csrf/#ajax */
      function beforeSendAjax(xhr, settings) {
        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
           }
         }
        }
        return cookieValue;
      }
      function sameOrigin(url) {
        var host = document.location.host;
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
          (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
          !(/^(\/\/|http:|https:).*/.test(url));
      }
      function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }


      function formatDate(pattern, sourceDate, isPm) {
        var matchResult = sourceDate.match(pattern);
        var resultDate = '';
        var hour = Number(matchResult[1]);
        var min = Number(matchResult[2]);
        if (isPm === '1') {
          hour += 12;
          if (hour % 12 == 0) {
            hour -= 12;
          }
        }
        if (hour < 10) {
          resultDate = '0' + hour + ':';
        } else {
          resultDate = hour + ':';
        }
        if (min < 10) {
          resultDate = resultDate + '0' + min;
        } else {
          resultDate = resultDate + min;
        }
        return resultDate;
      }

      function setNotification() {
        var errorMsg = '';
        var phone = $('#phone').val();
        var pattern = /^\d{10}$/;
        if (!pattern.test(phone)) {
          errorMsg += 'Phone number should be 10 digits.<br>';
        }
        var fromDate = $('#fromDate').val();
        pattern = /^(0?[1-9]|1[0-2]):(0?[0-9]|[1-5][0-9])$/;
        if (!pattern.test(fromDate)) {
          errorMsg += 'From should be HH:MM(AM/PM) format.<br>';
        }
        fromDate = formatDate(pattern, fromDate, $('#fromDateAmPm').val());
        var toDate = $('#toDate').val();
        if (!pattern.test(toDate)) {
          errorMsg += 'To should be HH:MM(AM/PM) format.<br>';
        }
        toDate = formatDate(pattern, toDate, $('#toDateAmPm').val());
        var minutesAway = $('#minutesAway').val();
        if (isNaN(Number(minutesAway))) {
          errorMsg += 'Minutes Away should be Number.<br>';
        }
        var checkedList = $('input[type=checkbox]:checked');
        if (checkedList.length === 0) {
          errorMsg += 'You must select at least one day.<br>';
        } else {
          var days = '';
          for (var i=0; i<checkedList.length; i++) {
            days += checkedList[i].id.substring(3);
          }
        }

        console.log(fromDate);
        console.log(toDate);
        if (errorMsg.length > 0) {
          $('#formSuccess').html('');
          $('#formSuccess').hide();
          $('#formError').html(errorMsg);
          $('#formError').show();
        } else {
          $.ajax({
            type: "POST",
            url: "/set_notification",
            data: { phone_number: phone, stop_id: selectedStopId, route_tag: selectedRouteTag, start_time: fromDate, finish_time: toDate, days: days, minutes_away: minutesAway, direction_tag: selectedDirectionTag },
            beforeSend: beforeSendAjax
          }).done(notificationSetSuccess);
        }
      }

      function notificationSetSuccess(data) {
        $('#formError').html('');
        $('#formError').hide();
        $('#formSuccess').html(data.message);
        $('#formSuccess').show();
      }

      function resetDirection() {
        var alertDiv = $('#directions > div.alert');
        $('#directions').html(alertDiv);
        alertDiv.show();
        $('#selectedDirection').html('');
        selectedDirectionTag = null;
      }
      function resetStop() {
        var alertDiv = $('#stops > div.alert');
        $('#stops').html(alertDiv);
        alertDiv.show();
        $('#selectedStop').html('');
        selectedStopId = null;
      }
      function resetPrediction() {
        $('#predictions > div.alert').show();
        $('#form').hide();
        $('#livePredictions').html('');
        $('#formError').html('');
        $('#formSuccess').html('');
        $('#formError').hide();
        $('#formSuccess').hide();
      }

      function getDirectionsSuccess(data) {
        var directions_str = '';
        for (var i = 0; i < data.length; i++) {
          var str = '<p class="direction" data-directiontag="' + data[i].tag + '">' + data[i].title + '</p>';
          directions_str += str;
        }
        $('#directions').append(directions_str);
        $('#directions > div.progress').hide();
        $('p.direction').mouseover(function() {
          $(this).addClass('mouseon');
        }).mouseout(function() {
          $(this).removeClass('mouseon');
        }).click(function() {
          $('p.direction').removeClass('selected');
          $(this).addClass('selected');
          $('#selectedDirection').html($(this).html());
          resetStop();
          resetPrediction();
          selectedDirectionTag = $(this).attr('data-directiontag');
          $('#collapseTwo').collapse('hide');
          $('#collapseThree').collapse('show');
          $('#stops > div.progress').show();
          $('#stops > div.alert').hide();
          $.ajax({
            type: "POST",
            url: "/get_stops",
            data: { route_tag: selectedRouteTag, direction_tag: selectedDirectionTag },
            beforeSend: beforeSendAjax
          }).done(getStopsSuccess);
        });
      }

      function getStopsSuccess(data) {
        var stops_str = '<div class="row"><div class="span4">';
        for (var i = 0; i < data.length; i++) {
          if (i  === Math.round(data.length/2)) {
            stops_str += '</div><div class="span4">';
          }
          var str = '<p class="stop" data-stopid="' + data[i].stop_id + '">' + data[i].title + '</p>';
          stops_str += str;
        }
        stops_str += '</div>'
        $('#stops').append(stops_str);
        $('#stops > div.progress').hide();
        $('p.stop').mouseover(function() {
          $(this).addClass('mouseon');
        }).mouseout(function() {
          $(this).removeClass('mouseon');
        }).click(function() {
          $('p.stop').removeClass('selected');
          $(this).addClass('selected');
          $('#selectedStop').html($(this).html());
          selectedStopId = $(this).attr('data-stopid');
          resetPrediction();
          $('#collapseThree').collapse('hide');
          $('#collapseFour').collapse('show');
          $('#predictions > div.progress').show();
          $('#predictions > div.alert').hide();
          $.ajax({
            type: "POST",
            url: "/get_predictions_for_stop",
            data: { stop_id: selectedStopId, route_tag: selectedRouteTag },
            beforeSend: beforeSendAjax
          }).done(getPredictionsSuccess);
        });
      }

      function getPredictionsSuccess(data) {
        var predictions_str = '<h3>Selected vehicles are arriving in...</h3>';
        var predictions = data.predictions;
        if (predictions.length == 0) {
          predictions_str += '<p>No current prediction</p>';
        }
        for (var i=0; i<predictions.length; i++) {
          var pre = predictions[i];
          predictions_str = predictions_str + '<h1>' + pre + ' <small>minutes</small></h1>';
        }
        $('#livePredictions').html(predictions_str);
        $('#predictions > div.progress').hide();
        $('#form').show();
        setInterval("updatePredictions()", 30000);
      }

      function updatePredictions() {
        $.ajax({
          type: "POST",
          url: "/get_predictions_for_stop",
          data: { stop_id: selectedStopId, route_tag: selectedRouteTag },
          beforeSend: beforeSendAjax
        }).done(getPredictionsUpdateSuccess);
      }

      function getPredictionsUpdateSuccess(data) {
        var predictions_str = '<h3>Selected vehicles are arriving in...</h3>';
        var predictions = data.predictions;
        if (predictions.length == 0) {
          predictions_str += '<p>No current prediction</p>';
        }
        for (var i=0; i<predictions.length; i++) {
          var pre = predictions[i];
          predictions_str = predictions_str + '<h1>' + pre + ' <small>minutes</small></h1>';
        }
        $('#livePredictions').html(predictions_str);
      }
    </script>
  </body>
</html>
